@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One');

body {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2.4em;
  line-height: 1.5;
  background-color: #201e1f;
  color: #fff1d0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff1d0;
}

a {
  color: #f26430;
}

.wrapper .container {
  max-width: 1320px;
}

.row {
  padding-bottom: .5em;
}

.navigation {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 6.0rem;
  line-height: 6.0rem;
  display: block;
  border-bottom: 0.1rem solid #725e54;
  margin-bottom: 4.0rem;
}

.navigation-list {
  list-style: none;
}

.navigation-item {
  position: relative;
  float: left;
  margin-right: 1.2rem;
  font-weight: bold;
}

.heading {
  margin-bottom: 4.0rem;
}

.footer {
  width: 100%;
  height: 6.0rem;
  line-height: 6.0rem;
  border-top: 0.1rem solid #725e54;
  margin-top: 4.0rem;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-centered {
  text-align: center;
}

.image-card {
  margin-bottom: 2.0rem;
}

.image-card-caption {
  text-align: center;
}

.chevron-pad {
  padding: 0 1rem;
}

.clickable {
  cursor: pointer;
}
